*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
@font-face {
    font-family: 'fira_sansbold_italic';
    src: url('../font/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('../font/firasans-bolditalic-webfont.woff') format('woff');
         url('..font/firasans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{

	background:#E6E6E6;

}

header{
	background: #005883;
	border-radius: 0.5em;
	margin: 0.5em auto;
	width: 50%;
	height:10%;
	padding: 0.25em;
	position: relative;
	}

img.logocab{
	position: absolute;
	width:10px;
	height:;

}
	header h1{
	color: #Fff;
	margin: 2.8em auto;
    text-shadow:2px 2px 5px rgba(255,255,255,0.5);
    position: relative;

}

ul,ol{
		list-style: none;
	}
	div li a {
		background:#005883 ;
		color:#fff ;
		text-decoration: none;
		display:block; 
		padding: 10px 15px;
		}
	
	div > li {
		float: left;
	}
	div li ul{
		display:none;
		position:absolute;
		min-width:160px; 
	}
	div li:hover > ul{
		z-index:1;
		display: block;
	}




.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;

}
ul.tabs{
	width: 100%;
	background: #005883;
	list-style: none;
	display: flex;
}
ul.tabs li{
	width: 20%;
}
ul.tabs li a{
	color: #FFF;
	text-decoration: none;
	display: block;
	font-size: 20px;
	text-align: center;
	padding: 20px 0px;
}
.active{
	background: #0984cc;
}
.secciones{
	width: 100%;
	background: #FFF;
}

.secciones article{
	padding: 30px;
	text-decoration-style: none;
}

.secciones article p{
	text-align: justify;
	text-decoration-style:none;
	list-style: none;
}
h1{
	list-style: none;
	text-decoration-style: none;
}
.tab1{
	text-align: justify;
	text-decoration-style:none;
	list-style: none;
}
@media scren and (max-width:700px){
	ul.tabs li{
	width:none;
	flex-basis: 0;
	flex-grow: 1;
}

@media scren and (max-width:450px){
	ul.tabs li a{
	padding: 15px 0px;
}
.secciones article{
	padding:20px;
}
