*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
@font-face {
    font-family: 'fira_sansbold_italic';
    src: url('font/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('font/firasans-bolditalic-webfont.woff') format('woff');
         url('font/firasans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{

	background:#E6E6E6;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;

}

header{
	background: #005883;
	border-radius: 0.5em;
	margin: 0.5em auto;
	width: 70%;
	height:10%;
	padding: 0.25em;
	position: relative;
	}

.logocab img{
	width:200px;
	height:200px;
	position: relative;

}
	#tituloovi{
	color: #Fff;
	margin: 2.8em auto;
    text-shadow:2px 2px 5px rgba(255,255,255,0.5);
    position: relative;
    float: right;

}

ul,ol{
		list-style: none;

	}
	div li a {
		background:#005883 ;
		color:#fff ;
		text-decoration: none;
		display:block; 

			}
	
	div > li {
		float: left;
	}
	div li ul{
		display:none;
		position:absolute;
		min-width:150px; 

	}

	div li ul a{
		position:relative;
		min-width:150px; 
		display: block;
		text-align: left;
		font-size: 15px;
		padding: 0.2px;

		}

	div li:hover > ul {
		z-index:1;
		display: block;
	}

p {
	text-decoration: none;
	text-indent: 30px;
	text-align: justify;

}


.wrap{
	
	max-width: 50%;
	margin-left: 235px;	
	position: relative;
	float: left;

}
.aside{
	max-width: 100%;
	margin-left: 5px;
	height: 100%;
	position: relative;
	float: left;
}


ul.tabs{
	width: 100%;
	background: #005883;
	list-style: none;
	display: flex;
}
ul.tabs li{
	width: 20%;
}
ul.tabs li  {
	color: #FFF;
	text-decoration: none;
	display: block;
	font-size: 25px;
	text-align: center;

	}

.active{
	background: #0984cc;
}
.secciones{
	width: 100%;
	height: 100%;
	background: #FFF;
	position: relative;
}

.secciones article{
	padding: 30px;
	text-decoration-style: none;
}

p {
	font-size: 13px;
	text-decoration-line: none;
	text-decoration-style: none;
	text-align: justify;


}


.autor1{
	position: relative;
	float: left;
}
.autor2{
	position: relative;
	float: left;
}
.autor3{
	position: relative;
	float: left;
}


a{
	list-style: none;
	text-decoration: none;
}
.tab1{
	text-align: justify;
	text-decoration-style:none;
	list-style: none;
}

#piepagina{
	width: 70%;
	height: 160px;
	max-width: 90%;
	margin: 30px auto;
	background: #000;
	border-radius: 0.2em;
	margin-top: 01px;
	margin-top: 650px;

}

#piepagina img{
	margin-top: 5px;
	margin-left:5px;
}

@media scren and (max-width:700px){
	ul.tabs li{
	width:none;
	flex-basis: 0;
	flex-grow: 1;
}

@media scren and (max-width:450px){
	ul.tabs li a{
	padding: 15px 0px;
}
.secciones article{
	padding:20px;
}
h1 {
	text-decoration-style: none;
	font-size: 22px;

}

div.imginicio{
	width: 50px;
	height: 50px;
	
}